.nav-item .active {
    color: rgb(255, 185, 55);
}

.section {
    height: 100vh;
    padding: 2rem;
    padding-top: 100px;
}

.nav-items-list {
    display: flex;
    list-style: none;
    margin: 0px;
}

.home-container-all {
    /* background-color: rgb(22, 22, 22); */
    background: 
    linear-gradient(to bottom, 
            rgba(15, 15, 15, 0.7) 20%,
            rgba(15, 15, 15, 0.8) 40%,
            rgba(15, 15, 15, 0.9) 55%,
            rgba(15, 15, 15, 1) 65%
        ),
        url('https://habito-images.s3.us-east-2.amazonaws.com/portfolio-grid-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.nav-item a {
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 20px;
    margin: 0 30px;
}

.nav-item a:hover {
    cursor: pointer;
}

.nav-bar-main {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem;
    z-index: 10 ;
    background-color: rgb(11, 11, 11);
    border-bottom: 1px solid grey;
}

.nav-bar-main div {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar-main div:hover {
    cursor: pointer;
}

@media (max-width: 700px) {
    .nav-bar-main div {
        font-size: 17px;
    }
    .nav-item a {
        font-size: 17px;
        margin: 0 15px;
    }


}

@media (max-width: 420px) {
    .nav-bar-main div {
        font-size: 14px;
    }
    .nav-item a {
        font-size: 14px;
        margin: 0 10px;
    }


}
 

