.nav-item .active {
    color: rgb(255, 185, 55);
}

.section {
    height: 900px;
    padding: 20px;
    padding-top: 50px;
}

.nav-items-list {
    display: flex;
    list-style: none;
    margin: 0px;
}

.home-container-all {
    --dot-bg: #050505;
    --dot-color: #757575;
    --dot-size: 1px;
    --dot-space: 20px;
    background:
      linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      linear-gradient(to bottom, 
      rgba(15, 15, 15, 0.7) 20%,
      rgba(15, 15, 15, 0.8) 40%,
      rgba(15, 15, 15, 0.9) 55%,
      rgba(15, 15, 15, 1) 65%
  ),
      var(--dot-color);
      width: 100%;
}

.nav-item a {
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 20px;
    margin: 0 30px;
}

.nav-item-li-text {
    font-size: 20px;
}

.nav-item a:hover {
    cursor: pointer;
}

.nav-bar-main {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    z-index: 10 ;
    background-color: rgb(11, 11, 11);
    border-bottom: 1px solid grey;
}


@media (max-width: 700px) {
    .nav-item-li-text {
        font-size: 17px;
    }
    .nav-item a {
        font-size: 17px;
        margin: 0 15px;
    }


}

@media (max-width: 420px) {
    .nav-item-li-text {
        font-size: 14px;
    }
    .nav-item a {
        font-size: 14px;
        margin: 0 10px;
    }


}
 

