

.work-boxes-container {
    margin: 0 20px;

}
.my-work-container h2 {
    font-size: 40px;
    font-weight: 200;
    background: linear-gradient(to right, #FDB838, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 30px;
    padding-bottom: 20px;
}

.project-item {
    width: 100%;
}

.project-item-img {
    border: 1px solid white;
    border-radius: 7px;
    width: 100%;
}

.project-item-text-container {
    margin: 10px 0px 40px 0px;
}

.project-item-text-container h4 {
    margin: 0px 0px 5px 3px;
}

.project-item-text-container p {
    font-size: 12px;
    line-height: 18px;
    color: rgb(196, 196, 196);
    margin: 3px 3px;
}

.project-item-wrapper {
    width: 100%;
}

#section4 {
    padding-top: 0;
}

.project-button-container button:hover {
    cursor: pointer;
}

.project-button-container button {
    padding-right: 15px;
    transition: all 0.3s ease;
    position: relative;
    margin: 0px 3px;
    background-color: transparent;
    border: 1px solid rgb(255, 185, 55);
    color: rgb(255, 185, 55);
    border-radius: 3px;
    font-size: 9px;
    line-height: 20px;
}

.arrow {
    display: inline-block;
    transition: transform 0.3s ease;
}
  
.project-button-container button:hover .arrow {
    transform: translateX(5px);
}

@media(min-width: 700px){

    .my-work-container h2 {
        font-size: 60px;
    }

    .project-item {
        display: flex;
    }

    .project-item-img {
        width: 40%;
        height: 50%;
        max-width: 300px;
        margin-right: 20px;
    }

    .project-item-text-container {
        width: 60%;
    }

    .project-item-wrapper {
        height: 200px;
    }

    .work-boxes-container {
        margin: 0 60px;
    
    }
}

@media(min-width: 950px){

    .project-item-text-container h4 {
        margin: 0px 0px 5px 3px;
        font-size: 25px;
    }
    
    .project-item-text-container p {
        font-size: 18px;
        line-height: 25px;
        color: rgb(196, 196, 196);
        margin: 3px 3px;
    }

    .project-button-container button {
        font-size: 18px;
        line-height: 30px;
    }

}