.about-me-container {
    width: 100%;
    height: 100%;
    background-color: rgb(77, 77, 77);
    margin-top: 0px;
    display: flex;
}

.about-container {
    width: 100%;
    flex: 1;
}


#section2 {
    display: flex;
    flex-direction: column;
}

.about-me-pic-right {
    background-image: url("https://shmector.com/_ph/2/886234982.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.about-me-container aside {
    width: 50%;
    height: 100%;
}

path {
    width: 100%;
}
  