.about-me-container {
    width: 100%;
    height: 100%;
    background-color: rgb(44, 44, 44);
    margin-top: 0px;
    display: flex;
}

.about-container {
    width: 100%;
    flex: 1;
}


#section2 {
    display: flex;
    flex-direction: column;
}

.about-me-pic-right {
    background-image: url("https://icon2.cleanpng.com/20240308/gfo/transparent-computer-programmer-coding-computer-programming-wo-man-working-on-computer-at-1710845768182.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.about-me-container aside {
    width: 50%;
    height: 100%;
}

path {
    width: 100%;
}
  