.about-me-container {
    width: 100%;
    height: 100%;
    background-color: rgb(23, 23, 23);
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

.about-container {
    width: 100%;
    flex: 1;
}


#section2 {
    display: flex;
    flex-direction: column;
}

.about-me-text-left {
    padding: 20px;
    height: 40%;
}

.about-me-text-left p {
    font-size: 12px;
    line-height: 27px;
    align-self: center;
}

.about-me-text-left h2 {
    font-size: 40px;
    font-weight: 200;
    background: linear-gradient(to right, #FDB838, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-me-pic-right {
    height: 60%;
    background-image: url("https://habito-images.s3.us-east-2.amazonaws.com/computer-grey-dark-mild.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.about-me-container aside {
    width: calc(100% - 40px);
    padding: 20px;
    align-items: center;
}


@media (min-width: 950px) {
    .about-me-container {
        flex-direction: row;
        align-items: center;
    }

    .about-me-text-left p {
        font-size: 15px;
        line-height: 35px;
    }

    .about-me-text-left h2 {
        font-size: 47px;
    }
    .about-me-text-left {
        height: 60%;
    }

}

@media (min-width: 1500px) {
    .about-me-text-left p {
        font-size: 17px;
        line-height: 40px;
    }

    .about-me-text-left h2 {
        font-size: 55px;
    }
}