.nav-bar-non-home {
    background-color: rgb(11, 11, 11);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}

.nav-bar-non-home nav a {
    font-size: 20px;
}

.name-nav {
    color: rgb(255, 185, 55);
    margin-left: 30px;
}

.nav-nav-links {
    margin-right: 30px;
}

.nav-bar-non-home nav a:hover {
    cursor: pointer;
}

@media (max-width: 700px) {
    .title-name-container-nav {
        display: none;
    }

    .nav-bar-non-home {
        justify-content: flex-end;

    }
    .nav-bar-non-home nav a {
        font-size: 18px;
    }

}

@media (max-width: 420px) {
    .nav-bar-non-home nav a {
        font-size: 15px;
    }
}