.main-home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.main-headshot {
    width: 500px;
    height: 500px;
    min-width:500px;
    min-height: 500px;
    border-radius: 50%;
    background-repeat: no-repeat;       
    background-position: center center; 
    background-size: cover;    
}

.get-resume {
  background-color: transparent;
  border: 3px solid rgb(80, 0, 255);
  border-radius: 7px;
  color: rgb(80, 0, 255);
  width: 50%;
  min-width: 250px;
  height: 50px;
  margin : 30px;
  font-size: 30px;
  font-weight: 400;

}

.get-resume:hover {
  background-color: rgb(80, 0, 255);
  color: white;
  border-color: white;
  cursor: pointer;
}

.main-home {
    display: flex;
    height: 60%;
}

.home-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.home-left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-left h1 {
    font-size: 100px;
}

.home-left h2 {
    font-size: 70px;
    color: rgb(167, 167, 167)
}

.home-text-container {
    border-bottom: 5px solid white;
}


@media (max-width: 1250px) {
  .main-headshot {
    width: 400px;
    height: 400px;
    min-width: 400px;
    min-height: 400px;
  }

  .home-left h1 {
    font-size: 60px;
  }

  .home-left h2 {
    font-size: 40px;
  }

  .main-home {
    flex-direction: column;
    height: 80%;
  }

  .home-left {
    width: 100%;
    height: 50%;
  }

  .home-right {
    width: 100%;
    height: 50%;

  }
}

@media (max-width: 700px) {

  .get-resume {
    font-size: 25px;
  }

}

@media (max-width: 500px) {

  .home-left h1 {
    font-size: 40px;
  }

  .home-left h2 {
    font-size: 25px;
  }

  .main-headshot {
    width: 250px;
    height: 250px;
    min-width: 250px;
    min-height: 250px;
  }

}


// scroll down animation

$base: 0.6rem;

.scroll-down-container {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 10px;
 margin-bottom: 250px;
}

.chevron {
  position: absolute;
  width: $base * 5.5;
  height: $base * 0.8;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
 content: '';
 position: absolute;
 top: 0;
 height: 100%;
 width: 50%;
 background: rgb(80, 0, 255);
}

.chevron:before {
 left: 0;
 transform: skewY(30deg);
}

.chevron:after {
 right: 0;
 width: 50%;
 transform: skewY(-30deg);
}

@keyframes move-chevron {
 25% {
  opacity: 1;
	}
 33.3% {
  opacity: 1;
  transform: translateY($base * 3.8);
 }
 66.6% {
  opacity: 1;
  transform: translateY($base * 5.2);
 }
 100% {
  opacity: 0;
  transform: translateY($base * 8) scale(0.5);
 }
}