.contact-block {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    --dot-bg: #0c0c0c;
    --dot-color: #131313;
    --dot-size: 2px;
    --dot-space: 20px;
    background:
      /* linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space), */
      radial-gradient(circle, var(--dot-color) var(--dot-size), transparent 0) 
      0 0 / var(--dot-space) var(--dot-space),
      var(--dot-bg)
      var(--dot-color);
}

.contact-container {
    width: 80%;
    height: min-content;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.contact-container #section {
    margin: 15px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.281);
    border-radius: 5px;
    display: flex;
}

.contact-container #section:hover {
    cursor: pointer;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 100%;
}

.logo-container svg {
    font-size: 30px;
    color: grey;
}

.contact-text {
    padding: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-text header {
    width: 100%;
    font-size: 15px;
}

.contact-text p {
    margin: 0px;
    font-size: 12px;
    color: grey;
}


.email {
    border: 1px solid rgb(255, 121, 121);
}

.linkedin {
    border: 1px solid rgb(119, 119, 255);
}

.github {
    border: 1px solid rgb(117, 255, 117);
}

.resume {
    border: 1px solid grey;
}

@media(min-width: 770px) {
    .contact-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

}