body {
  padding: 0px;
  margin: 0px;
  --dot-bg: #0c0c0c;
    --dot-color: #3d3d3d;
    --dot-size: 1px;
    --dot-space: 20px;
    background:
      linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      var(--dot-color);
    overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
label,
button,
header,
a,
div,
h6 {
    color: white;
    font-family: "Roboto", sans-serif;
}

ul {
  padding-left: 0px;
}